* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #252532;
	background-color: #f8f8f8;
}

.container {
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-v {
	display: flex;
	flex-direction: column;
}

.input-group{
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.label {
	margin-bottom: .5rem;
	display: block;
}

.card {
	background-color: #fff;
	border: solid 1px #e6e6e556;
	border-radius: 4px;
}

.card-body {
	padding: 2rem;
}

.btn {
	padding: .7rem 1rem;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}

.btn-orange {
	color: #ffffff;
	border: solid 1px #e75b42;
	background-color: #ff6347;
}

.btn-orange:hover, .btn-orange:focus {
	background-color: #e75b42;
}

.mb-2 {
	margin-bottom: 2rem;
}

.sw-sm {
	box-shadow: 0px 1px 2px #00000046, 0px 1px 2px #00000018;
}

.sw-md {
	box-shadow: 0px 2px 3px #0000003a, 0px 1px 2px #0000001c;
}

.text-bold {
	font-weight: bold;
}

.list-ol {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.list-ol li {
	margin-bottom: 1rem;
}

.list-ol li:last-child {
	margin: 0;
}

.list-ol li a {
	text-decoration: none;
}

.list-ol-orange li a {
	color: #ff6347;
	font-weight: bold;
}

.list-ol-orange li a:hover, .list-ol-orange li a:focus {
	color: #e75b42;
}

a.link {
	text-decoration: none;
	color: #3b3838ab;
}

a.link:hover, a.link:focus {
	color: #181717;
}

.mt-2 {
	margin-top: 2rem;
}

.text-sw-sm {
	text-shadow: 0px 1px 1px #00000034, 0px 1px 2px #00000018;
}

.modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #0000002c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.f-column {
	flex-direction: column;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.j-center {
	justify-content: center;
}